<div class="col-sm-6 mx-auto">
  <form [formGroup]="athleteForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id">

    <!-- fullName -->
    <div class="form-group">
      <label for="fullName">Full name</label>
      <input
        type="text"
        formControlName="fullName"
        class="form-control"
        id="fullName"
        [ngClass]="{'error-border': errors && errors.fullName }"
        placeholder="Insert your name ...">
        <span class="error-msg" *ngIf="errors && errors.fullName">{{ errors.fullName }}</span>
    </div>

    <!-- yearsOld 
    <div class="form-group">
      <label for="description">Full name</label>
      <textarea
        class="form-control"
        formControlName="fullName"
        id="fullName"
        [ngClass]="{'error-border': errors && errors.fullName }"
        rows="10">We are inviting you to ...</textarea>
        <span class="error-msg" *ngIf="errors && errors.Description">{{ errors.Description }}</span>
    </div>
    -->


    <div class="form-row">

      <!-- city -->
      <div class="col-md-6">
        <div class="col-auto my-2">
          <label for="club">Club</label>
          <select
            class="custom-select mr-sm-2"
            formControlName="clubId"
            id="club">
              <option *ngFor="let c of clubs" [value]="c.id">{{ c.name }}</option>
          </select>
        </div>
      </div>

      <!-- country -->
      <div class="col-md-6">
        <div class="col-auto my-2">
          <label for="organizer">Country</label>
          <select
            class="custom-select mr-sm-2"
            name="country"
            formControlName="countryId"
            id="country">
              <option *ngFor="let c of countries" [value]="c.id">{{ c.name }}</option>
          </select>
        </div>
      </div>

    </div>
    <button type="submit" [disabled]="!athleteForm.valid" class="float-right ml-3 mt-5 btn btn-primary">Save</button>
    <button type="reset" class="float-right mt-5 btn btn-link">Clear</button>
  </form>
</div>